/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}
.input-keypress {
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
}
.container {
  position: relative;
  margin: 0 auto;
}
.stage {
  position: relative;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.row {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  height: 30px;
}
.col {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
}
.slot,
.body-link,
.apple {
  width: 30px;
  height: 30px;
  margin: 0;
}
.body-link,
.apple {
  position: absolute;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

  .ligth {
    width: 4px;
    height: 19px;
    background: #fff;
    position: relative;
    top: 6px;
    left: 4px;

    border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
  }
}
.body-link {
  // background: green;
  .ligth {
    background: darkseagreen;
  }
}
.apple {
  // background: red;

  .little-stick {
    width: 5px;
    height: 13px;
    background: rgb(0, 180, 75);
    position: relative;
    top: -8px;
    left: 13px;

    border-radius: 10px 0 10px 0;
    -moz-border-radius: 10px 0 10px 0;
    -webkit-border-radius: 10px 0 10px 0;
  }
  .ligth {
    background: orangered;
    top: -8px;
  }
}
